<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.popcivilar.youth.general.article.dao.ArticleInfoMapper" >

    <resultMap id="BaseResultMap" type="com.popcivilar.youth.general.article.entity.ArticleInfo" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="PUB_DATE" property="pubDate" jdbcType="DATE" />
        <result column="USER_ID" property="userId" jdbcType="INTEGER" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="THUMB_NUM" property="thumbNum" jdbcType="INTEGER" />
        <result column="COMMENT_NUM" property="commentNum" jdbcType="INTEGER" />
        <result column="READ_NUM" property="readNum" jdbcType="INTEGER" />
        <result column="DELETED_FLAG" property="deletedFlag" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="DATE" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, PUB_DATE, USER_ID, TITLE, TYPE, CONTENT, THUMB_NUM, COMMENT_NUM, READ_NUM, DELETED_FLAG, 
        CREATE_DATE, MODIFY_DATE
    </sql>


</mapper>